// $title-ff: Roboto, sans-serif;
// $body-ff: Raleway, sans-serif;
// $btn-ff:  'Open Sans', sans-serif;

$body-grad: linear-gradient( 90deg, rgb(26,26,26) 0%, rgba(26,26,26,0) 100%);
$secondary-color: #fff;

$border-width: 1px;
$gap: 50px;

$body-bg: $secondary-color;